---
import CVLeftSide from "../../components/CVLeftSide.astro";
import CVMain from "../../components/CVMain.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <title>Curriculum Vitae</title>
  <button
    class="btn btn-primary btn-sm absolute top-4 right-4 z-50"
    onclick="window.print()">Print CV</button
  >
  <div
    class="cv-container flex flex-row justify-between w-full max-w-5xl mx-auto my-10 border-1 border-black-100 mb-[1rem] shadow-xl"
  >
    <CVLeftSide />
    <CVMain />
  </div>

  <style>
    @media print {
      .btn {
        display: none;
      }

      .cv-container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }
    }
  </style>
</Layout>
