---
import CVHeader from "../../components/CVHeader.astro";
import CVLeftSide from "../../components/CVLeftSide.astro";
import CVMain from "../../components/CVMain.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <title>Curriculum Vitae</title>
  <button
    class="btn btn-primary btn-sm absolute top-4 right-4 z-50"
    onclick="window.print()">Print CV</button
  >

  <div
    class="cv-container w-full max-w-4xl mx-auto my-10 border-1 border-black-100 mb-[1rem] shadow-xl"
  >
    <CVHeader />
    <div class="cv-body md:flex md:flex-row md:justify-between">
      <CVLeftSide />
      <CVMain />
    </div>
  </div>

  <style>
    @media print {
      .btn {
        display: none;
      }

      .cv-container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .cv-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  </style>
</Layout>
