---
import CVHeader from "../components/cv/CVHeader.astro";
import CVLeftSide from "../components/cv/CVLeftSide.astro";
import CVMain from "../components/cv/CVMain.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Header from "../components/Header.astro";
---

<Layout>
  <title>Curriculum Vitae</title>
  <Header />

  <div class="flex justify-end w-full mb-2 print-hide mt-3 md:pr-3">
    <Icon
      name="printer"
      onclick="window.print()"
      class="w-5 h-5 md:w-7 md:h-7 cursor-pointer hover:text-gray-600 transition"
      style="display: block;"
    />
  </div>
  <div
    class="cv-container w-full max-w-4xl mx-auto border-1 border-black-100 mb-[1rem] shadow-xl"
  >
    <CVHeader />
    <div class="cv-body md:flex md:flex-row md:justify-between">
      <CVLeftSide />
      <CVMain />
    </div>
  </div>

  <style>
    @media print {
      .btn,
      .print-hide {
        display: none !important;
      }

      .cv-container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .cv-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  </style>
</Layout>
