---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
---

<Layout>
  <Header />

  <title>Home</title>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
</Layout>
