---
import "../styles/global.css";
import data from "../data/general.json";

const shortName = data.shortName;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{shortName}</title>
    <script src="https://unpkg.com/alpinejs" defer></script></head
  >

  <body class="bg-white dark:bg-gray-900 text-black dark:text-white">
    <slot />
  </body>
</html>
