<div>
  <img src="../assets/background.svg" alt="profile photo" />

  <div>
    <h2>Contact</h2>
    <hr />
    <p>My address</p>
    <p>My phone</p>
    <p>My email</p>
    <p>My nationality</p>
    <p>My linkedIn profile</p>
  </div>

  <div>
    <h2>Skills</h2>
    <hr />
    <p><b>Programming</b></p>
    <p><b>Languages</b></p>
    <p><b>Soft skills</b></p>
  </div>
</div>
