---
import placeholderProfileImage from "../assets/placeholder_profile_image.png";
import IconTextAlign from "./IconTextAlign.astro";
import TextAndLevelFormat from "./TextAndLevelFormat.astro";
---

<div
  class="flex flex-col gap-4 p-5 border-r-1 border-black-100 w-[30%] max-w-[30%]"
>
  <img
    src={placeholderProfileImage.src}
    alt="profile photo"
    class="w-[10.5rem] mx-auto"
  />

  <div>
    <h2 class="text-xl font-bold">CONTACT</h2>
    <hr />
    <IconTextAlign iconName="home" text="My address" section="contact" />
    <IconTextAlign iconName="phone" text="My phone" section="contact" />
    <IconTextAlign iconName="email" text="My email" section="contact" />
    <IconTextAlign iconName="world" text="My nationality" section="contact" />
    <IconTextAlign
      iconName="linkedIn"
      text="My linkedIn profile"
      section="contact"
    />
  </div>

  <div>
    <h2 class="text-xl font-bold">SKILLS</h2>
    <hr />
    <div class="flex flex-col gap-2">
      <div>
        <p class="text-xl"><i>Programming</i></p>
        <TextAndLevelFormat language="C" level="level" />
        <TextAndLevelFormat language="C++" level="level" />
        <TextAndLevelFormat language="C#" level="level" />
        <TextAndLevelFormat language="Python" level="level" />
        <TextAndLevelFormat language="HTML/CSS" level="level" />
        <TextAndLevelFormat language="React" level="level" />
        <TextAndLevelFormat language="Angular" level="level" />
        <TextAndLevelFormat language="Ionic" level="level" />
        <TextAndLevelFormat language="Electron" level="level" />
        <TextAndLevelFormat language="SQL" level="level" />
        <TextAndLevelFormat language="PHP" level="level" />
        <TextAndLevelFormat language="Bash" level="level" />
        <TextAndLevelFormat language="Powershell" level="level" />
        <TextAndLevelFormat language="Kotlin" level="level" />
        <TextAndLevelFormat language="Laravel" level="level" />
        <TextAndLevelFormat language="Azure" level="level" />
        <TextAndLevelFormat language="Git" level="level" />
      </div>
      <div>
        <p class="text-xl"><i>Soft skills</i></p>
        <ul>
          <li>Teamwork</li>
          <li>Communication</li>
          <li>Problem-solving</li>
          <li>Adaptability</li>
        </ul>
      </div>
      <div>
        <p class="text-xl"><i>Languages</i></p>
        <TextAndLevelFormat language="Kom (Dialect)" level="Native" />
        <TextAndLevelFormat language="English" level="Native" />
        <TextAndLevelFormat language="French" level="Proficient (C2)" />
        <TextAndLevelFormat language="Dutch" level="Elementary (A2)" />
      </div>
    </div>
  </div>
</div>
