---
import placeholderProfileImage from "../assets/placeholder_profile_image.png";
import IconTextAlign from "./IconTextAlign.astro";
---

<div class="flex flex-col gap-4 p-5 border-r-1 border-black-100">
  <img
    src={placeholderProfileImage.src}
    alt="profile photo"
    class="w-[10.5rem] mx-auto"
  />

  <div>
    <h2 class="text-xl font-bold">CONTACT</h2>
    <hr />
    <IconTextAlign iconName="home" text="My address" section="contact" />
    <IconTextAlign iconName="phone" text="My phone" section="contact" />
    <IconTextAlign iconName="email" text="My email" section="contact" />
    <IconTextAlign iconName="world" text="My nationality" section="contact" />
    <IconTextAlign
      iconName="linkedIn"
      text="My linkedIn profile"
      section="contact"
    />
  </div>

  <div>
    <h2 class="text-xl font-bold">SKILLS</h2>
    <hr />
    <div class="flex flex-col gap-2">
      <div>
        <p>Programming</p>
        <p><b>C</b> level</p>
        <p><b>C++</b> level</p>
        <p><b>C#</b> level</p>
        <p><b>Python</b> level</p>
        <p><b>HTML/CSS</b> level</p>
        <p><b>React</b> level</p>
        <p><b>Angular</b> level</p>
        <p><b>Ionic</b> level</p>
        <p><b>Electron</b> level</p>
        <p><b>Python</b> level</p>
        <p><b>SQL</b> level</p>
        <p><b>PHP</b> level</p>
        <p><b>Bash</b> level</p>
        <p><b>Powershell</b> level</p>
        <p><b>Kotlin</b> level</p>
        <p><b>Laravel</b> level</p>
        <p><b>Azure</b> level</p>
        <p><b>Git</b> level</p>
      </div>
      <div>
        <p>Soft skills</p>
        <ul>
          <li>Teamwork</li>
          <li>Communication</li>
          <li>Problem-solving</li>
          <li>Adaptability</li>
        </ul>
      </div>
      <div>
        <p>Languages</p>
        <p><b>Kom (Dialect): </b> Native Language 1</p>
        <p><b>English: </b> Native Language 2</p>
        <p><b>French: </b>Proficient (C2 level)</p>
        <p><b>Dutch: </b>Elementary (A2 level)</p>
      </div>
    </div>
  </div>
</div>
