---
import placeholderProfileImage from "../assets/placeholder_profile_image.png";
---

<div class="flex flex-col gap-4 p-5 border-r-1 border-black-100">
  <img
    src={placeholderProfileImage.src}
    alt="profile photo"
    class="w-[10.5rem] mx-auto"
  />

  <div>
    <h2 class="text-xl font-bold">CONTACT</h2>
    <hr />
    <p>My address</p>
    <p>My phone</p>
    <p>My email</p>
    <p>My nationality</p>
    <p>My linkedIn profile</p>
  </div>

  <div>
    <h2 class="text-xl font-bold">SKILLS</h2>
    <hr />
    <div class="flex flex-col gap-2">
      <div>
        <p>Programming</p>
        <p><b>C</b> level</p>
        <p><b>C++</b> level</p>
        <p><b>C#</b> level</p>
        <p><b>Python</b> level</p>
      </div>
      <div>
        <p>Soft skills</p>
        <ul>
          <li>Teamwork</li>
          <li>Communication</li>
          <li>Problem-solving</li>
          <li>Adaptability</li>
        </ul>
      </div>
      <div>
        <p>Languages</p>
        <p><b>Kom (Dialect): </b> Native Language 1</p>
        <p><b>English: </b> Native Language 2</p>
        <p><b>French: </b>Proficient (C2 level)</p>
      </div>
    </div>
  </div>
</div>
