---
import CVItem from "./CVItem.astro";
import IconTextAlign from "./IconTextAlign.astro";
---

<div class="w-[70%] flex flex-col gap-4 p-5">
  <div>
    <h1 class="text-3xl font-bold">Edison Nyingchuo Kiseh</h1>
    <p>Full Stack Developer</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="h-[85%] flex flex-col gap-4">
    <div>
      <h2 class="text-xl font-bold">
        <IconTextAlign
          iconName="graduate-cap"
          text="EDUCATION"
          section="title"
        />
      </h2>
      <hr />
      <CVItem
        name="Bachelor's in Electronics-ICT - Major ICT"
        date="2022 - 2025"
        universityName="Thomas More University of Applied Sciences"
        description={[
          "Graduated with a final average of 76.50%.",
          "Honors: Received the Willy Asselman award for the best bachelor thesis of Electronics-ICT.",
        ]}
      />
    </div>

    <div>
      <h2 class="text-xl font-bold">
        <IconTextAlign
          iconName="work-case"
          text="PROFESSIONAL EXPERIENCE"
          section="title"
        />
      </h2>
      <hr />
      <div class="mb-4">
        <CVItem
          name="Brico Kraainem"
          date="7 Jul - 27 Jul 2025"
          jobTitle="Student Cashier"
          description="Worked as a cashier, assisting customers with purchases and handling transactions."
        />
        <CVItem
          name="Avanade"
          date="Feb 2025 - Jun 2025"
          jobTitle="Full Stack Developer Intern"
          description="Avanade is a Microsoft and Accenture joint venture specializing in Microsoft-based solutions. As a Full Stack Developer Intern, I contributed to a web-based chat solution enabling real-time support between users and agents, integrated with third-party applications."
        />
        <CVItem
          name="Walibi Belgium"
          date="Jun 2023 - Aug 2023"
          jobTitle="Student Chef"
          description="Worked as a chef in a fast food restaurant, preparing and serving food to customers."
        />
        <CVItem
          name="Delhaize Kraainem"
          date="Jan 2021"
          jobTitle="Shelf Stocker"
          description="Was responsible for stocking shelves, ensuring products were displayed correctly and inventory was maintained."
        />
        <CVItem
          name="Oxfam Belgium"
          date="Jan 2019"
          jobTitle="Volunteer sales person"
          description="Volunteered as a salesperson at my school, assisting with sales and customer service."
        />
      </div>
      <div>
        <h2 class="text-xl font-bold mb-[0.2rem]">
          <IconTextAlign iconName="tool" text="PROJECTS" section="title" />
        </h2>
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        <CVItem
          name="Avanade Support Hub"
          date="Feb 2025 - Jun 2025"
          technologies="React, Next.js, C# .NET, Azure Communication Services"
          description="A customizable chat solution connecting users with support agents in real-time. Features include secure two-way (duplex) messaging, WebSocket-based real-time updates, and multi-agent management."
        />
      </div>
    </div>
  </div>
</div>
