<div>
  <div>
    <h1>Edison Nyingchuo Kiseh</h1>
    <p>Full Stack Developer</p>
  </div>
  <div>
    <div>
      <h2>Education</h2>
      <hr />
    </div>

    <div>
      <h2>Professional Experience</h2>
      <hr />
    </div>

    <div>
      <h2>Projects</h2>
      <hr />
    </div>
  </div>
</div>
