<div>
  <div>
    <h1 class="text-3xl">Edison Nyingchuo Kiseh</h1>
    <p>Full Stack Developer</p>
  </div>
  <div>
    <div>
      <h2 class="text-2xl">Education</h2>
      <hr />
    </div>

    <div>
      <h2 class="text-2xl">Professional Experience</h2>
      <hr />
    </div>

    <div>
      <h2 class="text-2xl">Projects</h2>
      <hr />
    </div>
  </div>
</div>
