<div class="w-[70%] flex flex-col gap-4 p-5">
  <div class="h-[9rem]">
    <h1 class="text-3xl font-bold">Edison Nyingchuo Kiseh</h1>
    <p>Full Stack Developer</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="h-[85%] flex flex-col gap-4">
    <div>
      <h2 class="text-xl font-bold">EDUCATION</h2>
      <hr />
      <div>
        <div>
          <div>
            <p class="font-bold">
              Bachelor's in Electronics-ICT - Application Development
            </p>
            <p>2022 - 2025</p>
            <p>Thomas More University of Applied Sciences</p>
          </div>
          <div>
            <ul class="list-disc">
              <li>Graduated with a final average of 76.50% (Cum laude)</li>
              <li>
                Honors: Received the Willy Asselman award for the best bachelor
                thesis of Electronics-ICT
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-bold">PROFESSIONAL EXPERIENCE</h2>
      <hr />
      <div>
        <p class="font-bold">Avanade</p>
        <p>February 2025 - June 2025</p>
        <p>Full Stack Developer Intern</p>
      </div>
      <p>
        Avanade is a Microsoft and Accenture joint venture that provides focuses
        on providing solutions using Microsoft based technologies. I had the
        opportunity to work as a Full Stack Developer Intern at Avanade, where I
        contributed to the development of a web based chat solution which when
        integrated to a third party application, allowed users to request
        support from agents, and for communication to happen between them in
        real-time.
      </p>
    </div>

    <div>
      <h2 class="text-xl font-bold">PROJECTS</h2>
      <hr />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum
      </p>
    </div>
  </div>
</div>
