---
import { Icon } from "astro-icon/components";
---

<div>
  <ul class="flex flex-col space-y-4 p-4 w-full bg-white h-screen z-50">
    <li>Home</li>
    <li>About</li>
    <li>CV</li>
    <li><Icon name="sun" /></li>
  </ul>
</div>
