---
import { Icon } from "astro-icon/components";
import HamburgerMenu from "./HamburgerMenu.astro";
import data from "../data/general.json";

const fullName = data.fullName;
const shortName = data.shortName;
---

<div
  x-data="{ open: false }"
  class="header-container fixed top-0 left-0 right-0 z-50 pt-4 pb-4 pl-6 pr-6 shadow-lg print-hide bg-white/95 backdrop-blur-md border-b border-gray-200"
>
  <div class="flex justify-between items-center w-full">
    <div class="flex items-center justify-between w-full">
      <p class="text-2xl text-gray-900">
        <a href="/home" class="hidden md:block"> {fullName} </a>
        <a href="/home" class="md:hidden"> {shortName} </a>
      </p>

      <span class="md:hidden" @click="open = !open">
        <Icon x-show="!open" name="burgermenu" class="w-8 h-8 text-gray-600" />
        <Icon x-show="open" name="closeicon" class="w-8 h-8 text-gray-600" />
      </span>
    </div>
    <div
      class="nav-links space-x-8 flex justify-between items-center hidden md:flex"
    >
      <a
        href="/home"
        class="text-gray-700 hover:text-blue-600 transition-colors duration-300"
        >Home</a
      >
      <a
        href="/about"
        class="text-gray-700 hover:text-blue-600 transition-colors duration-300"
        >About</a
      >
      <a
        href="/cv"
        class="text-gray-700 hover:text-blue-600 transition-colors duration-300"
        >CV</a
      >
      <button
        class="bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-semibold py-2 px-4 rounded-lg inline-flex items-center shadow-md hover:shadow-lg transition-all duration-300"
      >
        <Icon name="sun" class="w-5 h-5" />
      </button>
    </div>
  </div>

  <div x-show="open" class="md:hidden">
    <HamburgerMenu />
  </div>
</div>

<style>
  @media print {
    .header-container {
      display: none;
    }
  }
</style>
