---
import { Icon } from "astro-icon/components";
---

<div
  class="header-container flex justify-between items-center pt-4 pb-4 pl-8 pr-8 border-bottom-1 border-black-100 shadow-md print-hide"
>
  <div>
    <p class="text-xl">Edison Nyingchuo Kiseh</p>
  </div>
  <div class="nav-links space-x-5 flex justify-between items-center">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/cv">CV</a>
    <Icon name="sun" class="w-8 h-8 border-1 p-1" />
  </div>
</div>
