---
import { Icon } from "astro-icon/components";
import HamburgerMenu from "./HamburgerMenu.astro";
---

<div
  x-data="{ open: false }"
  class="header-container fixed top-0 left-0 right-0 z-50 pt-4 pb-4 pl-4 pr-4 border-bottom-1 border-black-100 shadow-md print-hide bg-white"
>
  <div class="flex justify-between items-center w-full">
    <div class="flex items-center justify-between w-full">
      <p class="text-2xl">
        <a href="/home" class="hidden md:block"> Edison Nyingchuo Kiseh </a>
        <a href="/home" class="md:hidden"> Edison Kiseh </a>
      </p>

      <span class="md:hidden" @click="open = !open">
        <Icon x-show="!open" name="burgermenu" class="w-8 h-8 text-gray-600" />
        <Icon x-show="open" name="closeicon" class="w-8 h-8 text-gray-600" />
      </span>
    </div>
    <div
      class="nav-links space-x-8 flex justify-between items-center hidden md:flex"
    >
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/cv">CV</a>
      <button
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
      >
        <Icon name="sun" class="w-5 h-5" />
      </button>
    </div>
  </div>

  <div x-show="open" class="md:hidden">
    <HamburgerMenu />
  </div>
</div>

<style>
  @media print {
    .header-container {
      display: none;
    }
  }
</style>
