---
import { Icon } from "astro-icon/components";
import HamburgerMenu from "./HamburgerMenu.astro";
import data from "../data/general.json";

const fullName = data.fullName;
const shortName = data.shortName;
---

<div
  x-data="{ open: false }"
  class="header-container fixed top-0 left-0 right-0 z-50 pt-4 pb-4 pl-6 pr-6 shadow-lg print-hide bg-white/95 backdrop-blur-md border-b border-gray-200 dark:bg-black/95 dark:border-gray-700"
>
  <div class="flex justify-between items-center w-full">
    <div class="flex items-center justify-between w-full">
      <p class="text-2xl text-gray-900 dark:text-white">
        <a href="/home" class="hidden md:block"> {fullName} </a>
        <a href="/home" class="md:hidden"> {shortName} </a>
      </p>

      <span class="md:hidden" @click="open = !open">
        <Icon
          x-show="!open"
          name="burgermenu"
          class="w-8 h-8 text-gray-600 dark:text-gray-400"
        />
        <Icon
          x-show="open"
          name="closeicon"
          class="w-8 h-8 text-gray-600 dark:text-gray-400"
        />
      </span>
    </div>
    <div
      class="nav-links space-x-8 flex justify-between items-center hidden md:flex"
    >
      <a
        href="/home"
        class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300"
        >Home</a
      >
      <a
        href="/about"
        class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300"
        >About</a
      >
      <a
        href="/cv"
        class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300"
        >CV</a
      >
      <button
        id="theme-selector"
        class="bg-gradient-to-r from-blue-500 to-blue-600 dark:bg-gradient-to-r dark:from-gray-300 dark:to-gray-400 hover:from-blue-500 hover:to-blue-600 dark:hover:from-gray-400 dark:hover:to-gray-500 text-white font-semibold py-2 px-4 rounded-lg inline-flex items-center shadow-md hover:shadow-lg transition-all duration-300"
      >
        <Icon name="sun" class="w-5 h-5 dark:hidden" />
        <Icon
          name="moon"
          class="w-5 h-5 hidden font-bold text-white dark:inline"
        />
      </button>
    </div>
  </div>

  <div x-show="open" x-cloak x-transition class="md:hidden">
    <HamburgerMenu />
  </div>

  <style>
    @media print {
      .header-container {
        display: none;
      }
    }
  </style>

  <script>
    document.getElementById("theme-selector")?.addEventListener("click", () => {
      if (localStorage.theme === "dark") {
        localStorage.theme = "light";
        document.documentElement.classList.remove("dark");
      } else {
        localStorage.theme = "dark";
        document.documentElement.classList.add("dark");
      }
    });
  </script>
</div>
