---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  techName: string;
}

const { iconName, techName }: Props = Astro.props;
---

<button
  class="bg-[#EEF0F2] hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded inline-flex align-center items-center"
>
  <Icon name=`technologies/${iconName}` class="w-5 h-5 md:w-6 md:h-6" />
  <span class="text-base pl-1">{techName}</span>
</button>
