---
interface Props {
  text: string;
  percentage: number;
}

const { text, percentage }: Props = Astro.props;
const width = `${percentage}%`;
---

<div class="mb-1 text-base font-medium dark:text-white">{text}</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
  <div class="bg-gray-600 h-2.5 rounded-full dark:bg-gray-300" style={width}>
  </div>
</div>
