---
import cvHeader from "../../data/cv.json";

const fullNameInCaps = cvHeader.cvHeader.fullNameAllCaps;
const title = cvHeader.cvHeader.title;
const shortDescription = cvHeader.cvHeader.shortDescription;
---

<div
  class="cv-header-container md:max-w-[100%] md:flex md:flex-row md:flex-between border-b-1 border-black-100 bg-[#403d39] text-white dark:bg-gray-800 dark:text-white print:bg-white print:text-black"
>
  <div class="cv-header-profile md:max-w-[100%] p-5">
    <h1 class="text-xl sm:text-2xl md:text-3xl font-bold text-center mb-4">
      {fullNameInCaps}
    </h1>
    <p class="md:text-xl sm:text-lg font-semibold">{title}</p>
    <p class="text-sm">
      {shortDescription}
    </p>
  </div>
</div>

<style>
  @media print {
    .border-r-1,
    .border-b-1 {
      border: 0px;
    }
    .cv-header-profile {
      margin: 0;
    }

    .cv-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }
  }
</style>
