---
import CVItem from "./CVItem.astro";
import IconTextAlign from "./IconTextAlign.astro";
---

<div class="main-container md:max-w-[70%] flex flex-col gap-4 pl-5 pr-5 pb-5">
  <div class="h-[85%] flex flex-col gap-4">
    <div>
      <h2 class="text-lg font-bold">
        <IconTextAlign
          iconName="graduate-cap"
          text="EDUCATION"
          section="title"
        />
      </h2>
      <hr />
      <CVItem
        name="Bachelor's in Electronics-ICT - Major ICT"
        date="2022 - 2025"
        universityName="Thomas More University of Applied Sciences"
        description={[
          "Graduated with a final average of 76.50%.",
          "Honors: Received the Willy Asselman award for the best bachelor thesis of Electronics-ICT.",
        ]}
      />
    </div>

    <div>
      <h2 class="text-lg font-bold">
        <IconTextAlign
          iconName="work-case"
          text="PROFESSIONAL EXPERIENCE"
          section="title"
        />
      </h2>
      <hr />
      <div class="mb-4">
        <CVItem
          name="Avanade"
          date="Feb 2025 - Jun 2025"
          jobTitle="Full Stack Developer Intern"
          description={[
            "Developed a real-time support chat platform with React & Next.js for the frontend, and C# .NET for the backend, hosted on Azure.",
            "Integrated Azure Communication Services to enable duplex messaging and multi-agent support.",
            "Collaborated in Agile teams, improving sprint delivery efficiency.",
          ]}
        />

        <p class="text-lg font-bold">Other Work Experience</p>
        <p class="text-sm text-gray-600">
          <i>Student Jobs</i>
        </p>

        <ul class="list-disc ml-5 text-sm">
          <li>
            Worked in customer-facing student jobs at Brico, Walibi, Delhaize,
            and Oxfam.
          </li>
          <li>Developed strong teamwork and collaboration skills.</li>
          <li>Improved communication and customer service abilities.</li>
        </ul>
      </div>
      <div>
        <h2 class="text-lg font-bold mb-[0.2rem]">
          <IconTextAlign iconName="tool" text="PROJECTS" section="title" />
        </h2>
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        <CVItem
          name="Avanade Support Hub"
          date="Feb 2025 - Jun 2025"
          technologies="React, Next.js, C# .NET, Azure Communication Services"
          description="Developed a real-time chat platform connecting users with support agents, featuring secure duplex messaging, WebSocket-based updates, multi-agent management, and seamless integration with third-party websites."
        />
      </div>
    </div>
  </div>
</div>

<style>
  @media print {
    .border-r-1 {
      border: 0px;
    }

    .main-container {
      margin: 0;
      width: 65%;
      max-width: 65%;
    }
  }
</style>
